body {
	background-color: #f4f4f4;
	color: #555;
	font-family: Verdana;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}
#main-header{
	background-color: coral;
	color: white;
	text-align: center;
}
.navbar{
	background-color: #333;
	color: white;	
}
.navbar ul{
	padding: 0;
	list-style: none;
}
.navbar li{
	display: inline;
}
.navbar a{
	color: white;
	text-decoration: none;
	font-size: 18px;
	padding-right: 15px;
	border:1px #555 solid;
}
.navbar a:hover{
	color: blue;
}
#showcase{
	
	
	min-height: 300px;
	margin-bottom: 30px;
	
}
#showcase h1{
	color: #333;
	font-size: 20px;
	line-height: 1.6em;
	padding-top: 30px;
}
#main-footer{
	background: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
	margin-top: 30px;
}
.phpdumine{
	min-height: 200px;
	margin-bottom: 20px;
	text-align: center;
	color: #333;
	font-size: 12px;
	line-height: 1.6em;
	padding-top: 30px;

}
.button{
	font-size: 12px;
	background-color: #333;
	color: #fff;
	padding: 10px 15px;
	border:none;
	border-radius: 10px;
}
.button:hover{
	background: red;
	color: white;
}
.fix-me{
	position: fixed;
	top: 600px;
}
.fix-me2{
	position: fixed;
	top: 550px;
}